body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#tsContainer {
  display: grid;
  grid-template-rows: auto;
  row-gap: 10px;
  width: 250px;
}

#title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bolder;
  font-size: large;
  color: white;
  background: rgb(82, 98, 110);
  padding: 0% 5%;
}

#TimerContainer {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 3px;
  margin: 5% 5%;
}

#filterContainer {
  display: grid;
  grid-template-rows: 30px 1fr 1fr;
  grid-gap: 3px;
  margin: 0% 0% 5% 5%;
}

#filterContainer > p {
  font-size: medium;
  font-weight: bolder;
}

#Filter_Detail {
  display: grid;
  grid-template-rows: 25px 1fr;
  grid-gap: 5px;
  margin: 0% 10%;
}

#Filter_Detail > div:first-child {
  border-left: solid rgb(82, 98, 110) 10px;
  box-shadow: 2px 2px 2px 2px grey;
}

#Filter_Detail > div:not(:first-child) {
  padding: 0% 3% 3% 3%;
  margin: 0px 0px 0px 20px;
}

label,
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  left: 50%;
  top: 35%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  top: 2px;
  /* bottom: 4px; */
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
